data/
data2/
.idea/
__pycache__/
*.pyc
model/
statistics/
classifiers/pre_train/
services/uploads/
uploads/
classifiers/pre_train/
history/
logs/
venv/
classifiers/pre_train/
services/uploads/
uploads/
history/
logs/
venv/
*.iml
.idea/misc.xml
.idea
helpers/temp
helpers/temp2
